@page
@model EMigrant.App.Presentacion.Pages.LoginModel
@{
}

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="author" content="Equipo Masters MinTIC2022 Ciclo 3">
    <meta name="description" content="Login">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
    <header style="background-color: blue">
        <nav>
           
                <h1 style="font-size:40px; text-align:center; color:white">Bienvenido E-Migrant</h1>
           
		<p style="font-family:century gothic; font-size:100%; text-align:center; color:white"> Encuentra aquí las noticias relevantes de la semana y enlaces de interés.</pre>
                
        </nav>
    </header>
	<div style="margin-left:30%; width: 100%; margin-bottom: 20px">	
	<main style="width: 90%">
            <article>

                <h2>La Cangrejera*: ejemplo de integración</h2>
                <p>
                   La animación y la pedagogía se convirtieron en dos herramientas claves<br> 
				   para mostrarles a las comunidades de acogida, así como a las de migrantes<br> 
				   y refugiados cómo uniendo fuerzas se logra acabar con los mitos y<br> 
				   prejuicios alrededor de la integración de la población venezolana.<br>
                </p>
		<p><small><a href="https://colombia.iom.int/news/la-cangrejera-ejemplo-de-integraci%C3%B3n" target="_blank>Seguir leyendo</a></small></p><br>
                
            </article>

            <section>
		 <article>

                <h2>Respuesta al fenómeno migratorio</h2>
                <p>
                   <b>Afiiliación al sistema general de seguridad social en salud</b><br>

				   Tenga en cuenta que al momento de ingresar al país deberá contar con una<br>
				   póliza de salud que permita la cobertura ante cualquier contingencia de<br> 
				   salud, no obstante si no la adquirió y no tiene capacidad de pago, se le<br> 
				   garantizará la atención inicial de URGENCIAS, de acuerdo con lo dispuesto<br>
				   por el artículo 168 de la Ley 100 de 1993, en concordancia con el artículo<br> 
				   67 de la Ley 715 de 2001 y Ley 1751 de 2015.<br>
                </p>
		<p><small><a href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/COM/plan-respuesta-salud-migrantes.pdf" target="_blank>Más Información</a></small></p><br>
                
 		</article>
            </section>

            
        </main>


    <section>
           
                <h3 style="text-align:center"> Otras Noticias</h3>
                <br>
  
                <h6>Lanzamiento de la Red Nacional de Naciones Unidas sobre la Migración en Colombia</h6>
                <p><a href="https://colombia.iom.int/news/lanzamiento-de-la-red-nacional-de-naciones-unidas-sobre-la-migraci%C3%B3n-en-colombia" target="_blank>Ver Noticia</a></p><br>
               
                <h6>Ciudades pioneras en el uso de Indicadores de Gobernanza Migratoria</h6>
                <p><a href="https://colombia.iom.int/news/ciudades-pioneras-en-el-uso-de-indicadores-de-gobernanza-migratoria" target="_blank>Ver Noticia></a></p><br>
                
                <h6>Agencias ONU lamentan pérdida de vidas de personas en movilidad en Latinoamérica y ofrecen acompañar respuesta regional coordinada</h6>
               	<p><a href="https://colombia.iom.int/news/agencias-onu-lamentan-p%C3%A9rdida-de-vidas-de-personas-en-movilidad-en-latinoam%C3%A9rica-y-ofrecen" target="_blank>Ver Noticia</a></p><br>
                
        </section>
        <section>
                <h3 style="text-align: center;">Enlaces de Interés</h3>
             
    
                <h6>Migración Colombia</h6>
                <img src="emigrant.JPG" width="100" height="90" /><br>
		<p><a href="https://www.migracioncolombia.gov.co/regionales" target="_blank>Página Web</a></p><br>
                
                <h6>Cancillería deColombia</h6>
		<img src="emigrant.JPG" width="100" height="90" /><br>
                <p><a href="https://www.cancilleria.gov.co/tramites_servicios/nacionalidad/adquisicion" target="_blank>Página Web</a></p><br>
                

                <h6>Ministerio de Trabajo</h6>
		<img src="emigrant.JPG" width="100" height="90" /><br>
                <p><a href="https://www.mintrabajo.gov.co/web/empleosinfronteras/migrantes" target="_blank>Página Web</a></p><br>
            
         </section>
        </div>

        
 
    <footer>
        <small>2021 E-Migrant - All rights reserved</small>
		<small>JUSTSCRIPT  - GRUPO 17</small>
    </footer>

</body>
