@page
@model EMigrant.App.Frontend.Pages.InicioModel
@{
}

<body>

    <div class="container">
        <main role="main" class="pb-3">
            
            <h3>Bienvenido</h3>
        </main>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    

</body>
</html>