@page
@model EMigrant.App.Presentacion.Pages.CrudGrupoPersona.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GrupoPersona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GrupoPersona.TipoPersona" class="control-label"></label>
                <select asp-for="GrupoPersona.TipoPersona" class="form-control"></select>
                <span asp-validation-for="GrupoPersona.TipoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPersona.Nombre" class="control-label"></label>
                <input asp-for="GrupoPersona.Nombre" class="form-control" />
                <span asp-validation-for="GrupoPersona.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPersona.Apellidos" class="control-label"></label>
                <input asp-for="GrupoPersona.Apellidos" class="form-control" />
                <span asp-validation-for="GrupoPersona.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPersona.TipoDocumento" class="control-label"></label>
                <select asp-for="GrupoPersona.TipoDocumento" class="form-control"></select>
                <span asp-validation-for="GrupoPersona.TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPersona.NumeroDocumento" class="control-label"></label>
                <input asp-for="GrupoPersona.NumeroDocumento" class="form-control" />
                <span asp-validation-for="GrupoPersona.NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPersona.FNacimiento" class="control-label"></label>
                <input asp-for="GrupoPersona.FNacimiento" class="form-control" />
                <span asp-validation-for="GrupoPersona.FNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPersona.Correo" class="control-label"></label>
                <input asp-for="GrupoPersona.Correo" class="form-control" />
                <span asp-validation-for="GrupoPersona.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPersona.Telefono" class="control-label"></label>
                <input asp-for="GrupoPersona.Telefono" class="form-control" />
                <span asp-validation-for="GrupoPersona.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPersona.Direccion" class="control-label"></label>
                <input asp-for="GrupoPersona.Direccion" class="form-control" />
                <span asp-validation-for="GrupoPersona.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPersona.Ciudad" class="control-label"></label>
                <input asp-for="GrupoPersona.Ciudad" class="form-control" />
                <span asp-validation-for="GrupoPersona.Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
