@page
@model EMigrant.App.Presentacion.Pages.CrudMigrante.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>migrante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="migrante.PaisOrigen" class="control-label"></label>
                <input asp-for="migrante.PaisOrigen" class="form-control" required/>
                <span asp-validation-for="migrante.PaisOrigen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.SituacionLaboral" class="control-label"></label>
                <select asp-for="migrante.SituacionLaboral" class="form-control" required>
                    <option value="0">Empleado</option>
                    <option value="1">Independiente</option>
                    <option value="2">Desempleado</option>
                </select>
                <span asp-validation-for="migrante.SituacionLaboral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.Nombre" class="control-label"></label>
                <input asp-for="migrante.Nombre" class="form-control" required />
                <span asp-validation-for="migrante.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.Apellidos" class="control-label"></label>
                <input asp-for="migrante.Apellidos" class="form-control" required/>
                <span asp-validation-for="migrante.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.TipoDocumento" class="control-label"></label>
                <select asp-for="migrante.TipoDocumento" class="form-control" required>
                    <option value="0">Cedula</option>
                    <option value="1">Cedula de Extrangería</option>
                    <option value="2">Pasaporte</option>
                    <option value="3">Permiso</option>

                </select>
                <span asp-validation-for="migrante.TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.NumeroDocumento" class="control-label"></label>
                <input asp-for="migrante.NumeroDocumento" class="form-control" required/>
                <span asp-validation-for="migrante.NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.FNacimiento" class="control-label"></label>
                <input asp-for="migrante.FNacimiento" class="form-control" required/>
                <span asp-validation-for="migrante.FNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.Correo" class="control-label"></label>
                <input asp-for="migrante.Correo" class="form-control" />
                <span asp-validation-for="migrante.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.Telefono" class="control-label"></label>
                <input asp-for="migrante.Telefono" class="form-control" />
                <span asp-validation-for="migrante.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.Direccion" class="control-label"></label>
                <input asp-for="migrante.Direccion" class="form-control" />
                <span asp-validation-for="migrante.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.Ciudad" class="control-label"></label>
                <input asp-for="migrante.Ciudad" class="form-control" />
                <span asp-validation-for="migrante.Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.Usuario" class="control-label"></label>
                <input asp-for="migrante.Usuario" class="form-control" required />
                <span asp-validation-for="migrante.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="migrante.Clave" class="control-label"></label>
                <input asp-for="migrante.Clave" type="password" class="form-control" required/>
                <span asp-validation-for="migrante.Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
