@page
@model Consolas.Front.Pages.LoginModel
@{
}

<head>
    <meta charset="utf-8">
    <title>Login</title>
     <meta name="author" content="Grupo 17 JustScript">
    <meta name="description" content="Login">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="site.css" rel="stylesheet" type="text/css" />
   
</head>

<body>

    <div style="width:1000px;margin-left: auto;margin-right: auto;">
        <aside id="leftmenu">
            <header>
            </header>
        </aside>
        <aside id="rightmenu">
            <header>
            </header>
                 
        </aside>
        <main>
	<section  id="mainLogin">
            	  <nav id="navTabla"><br>
				<form method="post">
                    <div class="form-group">
                        <label class="control-label">Usuario:</label>
                        <input asp-for = "usuario" type="text" size="5" class="form-control"/>
                        <span class="text-danger">@Model.AlertaUsuario</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" >Contraseña:</label>
                        <input asp-for="@Model.clave" type="password" class="form-control"/>
                        <span class="text-danger">@Model.Alertaclave</span>
                        	  					
                    </div>
                    @*<small><p><a href="../CambioContrasena/CambioContrasena" target="_blank">Olvidé mi contraseña</a></p></small><br><br>*@
                    <div class = "form-group"> 
                        <input type="submit" value="Ingresar"/>
                    </div>
				</form>
                             
                   </nav>
 	    </section>
            
        </main>
        
    </div>
    <footer>
        <small>Equipo JustScript</small>
    </footer>

</body>


